body {
  font-family: 'Poppins', sans-serif;
}

/* Grid CSS */
#heroGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  /* Divides the grid into two columns, one is 75% wide and the other is 25% wide */
  grid-template-columns: 75% 25%;
  /* Sets the position to be relative so that the headline-container can float inside of it */
  position:relative;
}

#headline-container {
  /* Makes the headline container float inside the hero grid */
  position: absolute;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
  /* Displays it as a flexbox so that the position of the headline can be adjusted */
  display: flex;
  flex-direction: row;
  /* Makes the headline appear at the right of the headline-container */
  justify-content: flex-end;
  /* Vertically align the headline inside the headline-container */
  align-items: center;
}

#headline {
  border: 5px solid #FF6200;
  background-color: (rgba(red, green, blue, alpha));
  position: absolute;

}

.absolute {
  position:absolute;
  top: 0;
  right: 5;
  position: relative;
}
/* Category Grid CSS */
 
.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  /* Temporarily puts up a black background to see the arrow and text */
  background-color: black;
}

#primaryProduct {

  background-size: cover;
  max-width: 100%;
  height: 100%;
}

/* The container that contains the secondaryProduct and the CTA elements */
#right-grid {
  /* Displays it as a grid */
  display: grid;
  /* Vertically divides the secondaryProduct and the CTA */
  /* secondaryProduct gets 80% of vertical space */
  /* CTA gets 20% of vertical space */
  grid-template-rows: 80% 20%;
}

#secondaryProduct {
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100%;
}

#CTA {
  justify-content: 0px 5%;
  cursor: pointer;
}

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;

}

/* #categoryGridArea {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: auto;
} */

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}




/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}
